@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --main-color: #1ebf7b;
  --main-lighter-color: #69d7ad;
  --main-lighter-color2: rgba(219, 239, 230, 0.9);
  --main-lighter-color3: rgba(145, 237, 196, 0.9);
  --main-brighter-color: #11e98e;
  --danger-color: #ff6161;
  --font-default-color: #101a14;
  --font-lighter-color: #898989;
  --background-color: #f4f7f4;
  --background-color2: #fafafa;
  --icon-default-color: #9ba09e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
}

ul {
  list-style-type: none;
}

input {
  font-family: inherit;
}

a,
button,
span,
select,
div,
input,
textarea {
  outline: 0;
}
div {
  color: var(--font-default-color);
}
#root {
  height: 100%;
}
.chat-app {
  display: flex;
  height: 100%;
  overflow: hidden;
}
